.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    background-color: deepskyblue;
    /* justify-content: center; */
    /* background-image: url(Home.jpg);
    background-size: cover; */
  }
 
  .home-page h1{
    text-align: center;
    color: crimson;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .home-page p{
    text-align: left;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .navbar {
    background-color: grey;
    padding: 10px;
    /* text-decoration: none; */
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: right; */
    /* text-decoration: none; */
    align-items: last baseline;
  }
  
  .navbar-item {
    margin-right: 30px;
    cursor: pointer;
    font-style: unset;
    color: black;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-decoration: none; */
  }
  
  .search-container {
    display: flex;
    align-items: right;
    justify-content: center;
    margin: 5px ;
    width: 1300px;

  }
  
  .search-input {
    width: 300px;
    padding: 5px;
    margin-right: 5px;
    justify-content: right;
  }
  
  .search-button {
    padding: 5px 20px;
    background-color: crimson;
    /* justify-content: right; */
  }
  
  .featured {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 30px;
    /* align-items: baseline; */
    /* justify-items: left; */
  }
  
  .img-card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(204, 230, 233);
    height: 500px;
    width: 400px;
    margin-right: 30px;
    /* align-content: center; */
    /* justify-content: flex-start; */
    /* margin-left: 20px; */
    /* background-color: white; */
  }

  .click-button {
    padding: 5px 30px;
    color: white;
    background-color: dodgerblue;
    justify-content: center;
  }
  
  .text{
    justify-content: center;
  }
  .image-about{
    justify-content: center;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(204, 230, 233);
    height: 500px;
    width: 400px;
    margin-right: 30px;
  }
  